h1 {
    color: rgb(7, 37, 82);
    text-align: center;
}
h2 {
    color: rgb(9, 61, 116);
    text-align: center;
   
}
h3 {
    color: rgb(19, 80, 113);
}

p {
    font-size: 120%;
    padding-left: 1cm;
}
a {
    color: rgb(0, 20, 130)
}
a:visited {
    color: rgb(82, 145, 45)
}
div {
    margin-bottom: 3em;
    font-family: sans-serif;
}
#links {
    margin-bottom: 16em;
}
span {
    color: blue;
}

h1,h2,h3 {
    font-family: sans-serif;
}